---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import Logo from './logo.png';

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<header
  class={cn(
    "md:h-14 z-50 sticky top-0 bg-background",
    className
  )}
>
  <div class="relative container">
    <div class="hidden md:block">
      <slot name="left-header" />
    </div>

    <!-- logo mobile center -->
    <div
      class="flex justify-between md:hidden items-center py-2"
    >
      <a href="/" aria-label="Homepage" class="flex items-center">
        <Image
          src={Logo}
          width={35}
          height={35}
          alt="descriptive text"
          class="mr-4"
        />
        <span class="font-bold">
          {siteConfig.name}
        </span>
      </a>
      <slot name="mobile-nav-header" />
    </div>
  </div>
</header>
<div class="hidden md:flex relative container items-center flex-col mt-4">
  <Image
    src={Logo}
    width={200}
    height={200}
    alt="descriptive text"
    class="block mb-4"
  />
  <a href="/" class="items-center space-x-2 block text-center">
    <span class="block text-2xl font-bold mb-2">
      {siteConfig.name}
    </span>
    <span class="inline-block font-heading text-muted-foreground">
      {siteConfig.description}
    </span>
  </a>
</div>
